{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class="row" style="padding-top:20px">
    <div class="col-lg-8">
        <center>
            <h3 class="resuts">Recent Posts</h3>

              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="" alt="">
                  <h4><a href="">title</a></h4>
                  <time >date</time>
                </div>

              </div>
        </center>

    </div>
</div>







{% endblock %}