{% extends "base.html" %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
     

      <!-- ======= About Section ======= -->
      <section class="about" data-aos="fade-up">
          <div class="container">

              <div class="row">
                  <div class="col-lg-6">
                      <img src="https://astuedc.lehulutech.com/img/edc2.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0">
                      <h3></h3>
                      <p>
                          ASTU Entraprenurship Development Center is a non academic program aiming to develop bussines
                          and entraprenural skills of students in adama science and technology university.</br>
                          ASTU-EDC is set up to provide bussines incubation program and technology transfer initiative
                          for various youth students , innovative individuals and SMEs in the multideciplinary areas
                          of
                          science and technology on behalf of Adama Science And Technology University(ASTU).</br></br>
                          Our main goal is to help create and grow young technology and inovation-based bussines
                          needed for developing Ethiopian Industries by technical serviices and connections, and by
                          creating
                          enterprenurship culture in the university eco-system in the community. specifically, aims to
                          inhance and nurture innovation,creative thinking skills, and work skills of students and
                          thereby develop good social relevant projects and to
                          prototype them and help them find the fundeing needed from govenrment or private sources to
                          start or help them to be good innovators and enterpreneurs.
                          </br>
                          Scince its establishment in 2015, EDC has provided services to
                          students,staffs,MSMES,communities and individuals and aims to eastablish best practice on
                          entrapreurship development and incubation program and to create innovate and sustainable
                          start up bussines.More than 3000 individuals benefited from EDC training and incubation
                          services.

                      </p>

                  </div>
              </div>

          </div>
      </section><!-- End About Section -->

      <!-- ======= Service Details Section ======= -->
      <section class="service-details">
          <div class="container">

              <div class="row">
                  <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                      <div class="card">
                          <div class="card-img">
                              <img src="https://astuedc.lehulutech.com/img/edc3.jpg" alt="...">
                          </div>
                          <div class="card-body">
                              <h5 class="card-title"><a href="#">Our Mission</a></h5>
                              <p class="card-text">The mission of ASTU-EDC is to create and develop technology and innovation-based businesses needed for developing industries and the society by providing the knowledge, support and technical services. The Center is meant to create entrepreneurship culture and develop entrepreneurship eco-system in the community to support the socio–economic development of the nation</p>

                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                      <div class="card">
                          <div class="card-img">
                              <img src="https://astuedc.lehulutech.com/img/edc1.jpg" alt="...">
                          </div>
                          <div class="card-body">
                              <h5 class="card-title"><a href="#">Our Plan</a></h5>
                              <p class="card-text">
                                  Commence annual based business plan competitions <br/>
                                  Train and develop start-ups <br>
                                  Provide technology-based business incubation related services to the community<br>
                                  Build network; commercialize research ideas and innovations that are developed in the R&D facilities of the Universities<br>
                                  Support local governments, MSEs and other actors in incubation related activities<br>
                                  Improve the livelihood and survival rate of new firms by providing technical and business-related support<br>
                          </div>
                      </div>

                  </div>
                  <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                      <div class="card">
                          <div class="card-img">
                              <img src="https://astuedc.lehulutech.com/img/hero-bg-1.jpg" alt="...">
                          </div>
                          <div class="card-body">
                              <h5 class="card-title"><a href="#">Our Vision</a></h5>
                              <p class="card-text">To become one of the leading EDCs in Ethiopia, become top technology and business incubation Center, and renown in the region and nation wise by 2025 </p>

                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="https://astuedc.lehulutech.com/img/hero-bg-1.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Goal</a></h5>
                            <p class="card-text">To become one of the leading EDCs in Ethiopia, become top technology and business incubation Center, and renown in the region and nation wise by 2025 </p>

                        </div>
                    </div>
                </div>

              </div>

          </div>
      </section><!-- End Service Details Section -->
  </main><!-- End #main -->
 {% endblock %}

</html>